/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);
  --secondary-pool-gray: hsl(231, 11%, 63%);
  --secondary-light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--magnolia);
}

/* CSS RESETS */

.container {
  /* outline: 1px solid blue; */
  width: 70%;
  margin: 0 auto;
  border-radius: 0.5rem;
  margin-top: 15rem;

  background-color: white;
  display: flex;
  /* justify-self: center;
  align-self: center; */
  gap: 6rem;
  padding: 2 0px;
}
.sidebar-desktop {
  width: 30%;
  /* outline: 1px solid red; */
  /* margin: 0 auto; */
  /* margin-top: 20rem; */
  background: url(/images/bg-sidebar-desktop.svg) no-repeat center/cover;
  border-radius: 0.3rem;
  color: aliceblue;
}
.step-selector {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 17rem;
  padding-right: 1rem;
}

.steps {
  display: flex;
  gap: 1rem;
}

.step-btn {
  background: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  color: white;
  /* border-color: white; */
  font-weight: bold;
  border: none;
  outline: 1px solid white;
  /* background: none; */
}
.step-btn:hover {
  background-color: var(--primary-light-blue);
  /* border-color: red; */
  color: black;
}
.step-discription-regular {
  /* font-size: 1rem; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: var(--secondary-light-gray);
}
.step-discription-bold {
  font-family: "ubuntu";
  font-weight: bold;
}
.content-panel {
  /* display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-items: center; */
  color: var(--primary-marine-blue);
  width: 50%;
  display: flex;
  flex-direction: column;

  /* gap: 2rem; */
  /* justify-content: space-evenly; */
  /* height: 95%; */
  margin: auto 0;
  /* align-items: center; */
  /* margin: auto 0; */
  gap: 2rem;
}
.plan-add-ons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.online-service {
  outline: 1px solid var(--primary-purplish-blue);
  border-radius: 5px;
  /* padding: 20px 70px; */
  display: flex;
  gap: 2rem;
  padding: 10px 10px;
  align-items: center;
}
.price {
  margin-left: auto;
}

.next-step-btn {
  align-self: end;
  padding: 11px;
  border: none;
  background: var(--primary-marine-blue);
  color: var(--secondary-light-gray);
  border-radius: 11px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 24px;
  /* outline: 1px solid red; */
}
